@model mvc_SearchCustomerDB.Models.Customer

@{
    ViewBag.Title = "Kunde";
}


<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Kundesuche</h2>

<input type="text" class="input-sm" id="searchCustomer" />
<button type="button" class="btn-sm" id="btnSearch">Search</button>

